# tmp file of system
.vscode
.ipynb_checkpoints
.DS_Store
__pycache__

# dataset
test*
train*
tmp
*.csv
*.zip

# run_split script
data_gen.sh

# nhap folder
nhap

# main for fine-tune
main_experiment.py

# temp weight
personalized_weight

# latex stuff
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.xml
*.toc
*.gz
*.wsp
main-blx.bib