# End of https://www.toptal.com/developers/gitignore/api/c++
.vscode
.ipynb_checkpoints

# dataset
test
test_json
train
train_json
cifar
tmp
*.csv
*.zip

# run_split script
data_gen.sh

# ds store
.DS_Store

# pycache
__pycache__

# nhap folder
nhap

# debug for client and server
run_client.sh
run_server.sh
client_main.py 
server
main_experiment.py

experiments
